<nav id="navbar" class="navbar fixed-top navbar-expand-lg">
  <div class="container">

    <a href="/" class="navbar-brand d-flex align-items-center">
        <img src="/assets/img/logo2-darkbg.svg">
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Naše služby</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/sluzby/cyber-security-audit">Audit kybernetické infrastruktury</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Penetrační testování</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Vzdělávání pro IT profesionály</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">CTF Challenge</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
