#landing {
	header {
		background-color: #2b363b;
		background-image: url('/assets/img/wave.svg');
		background-position: 50% 100%;
		background-size: 100% auto;
		background-repeat: no-repeat;

	}
}
