#landing {
	header {
		background-color: #499ac2;
		background-image: url('/assets/img/wave.svg');
		background-position: 50% 101%;
		background-size: 100% auto;
		background-repeat: no-repeat;

	}
}
