@mixin pt-5 {
  padding-top: 3rem!important;
}
@mixin pb-5 {
  padding-bottom: 3rem!important;
}
@mixin mb-4 {
  margin-bottom: 1.5rem!important;
}
@mixin mb-5 {
  margin-bottom: 3rem!important;
}
@mixin mt-5 {
  margin-top: 3rem!important;
}

body {
	font-family: 'Kohinoor Bangla', sans-serif;
	background-color: #fafafa;
}

header {
	background-color: #2b363b;
}

footer {
  background-color: #2b363b;
  color: #737373;
}

section#contact {
  background-color: #316782;
  color: #f0f0f0;
  padding-bottom:4rem;
}


@import "navigation.scss";
@import "layout/landing.scss";
@import "layout/page.scss";
@import "contactform.scss";
