<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400&family=Open+Sans&display=swap');
    </style>
    <link rel="stylesheet" href="{{ '/assets/bootstrap-4.5.2-dist/css/bootstrap.min.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/fontawesome/css/all.min.css' | relative_url }}">
    <script src="{{ '/assets/jquery-3.6.0.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/smooth-scroll.polyfills.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/bootstrap-4.5.2-dist/js/bootstrap.bundle.min.js' | relative_url }}"></script>
    {% feed_meta %}
    {% seo %}
  </head>
  <body {% if page.id != null %}id="page-{{ page.id }}"{% endif %} class="layout-{{ page.layout }}" data-spy="scroll" data-target="#navbar">
    {% include navigation.html %}
    {{ content }}
    <script type="text/javascript">
        new SmoothScroll('a[href*="#"]');
    </script>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/60981ea4185beb22b30b9421/1f593fcpm';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
<script type="text/javascript">
    var $window = $(window);
    var $body = $("body");

    function onScroll() {
        var scrollTop = $window.scrollTop();
        console.log(scrollTop);
        if (scrollTop > 0) {
            $body.addClass("scroll");
        } else {
            $body.removeClass("scroll");
        }
        if(scrollTop > 50) {
            $body.addClass("scroll-50")
        } else {
            $body.removeClass("scroll-50");
        }
        if(scrollTop > 100) {
            $body.addClass("scroll-100")
        } else {
            $body.removeClass("scroll-100");
        }
        if(scrollTop > 200) {
            $body.addClass("scroll-200")
        } else {
            $body.removeClass("scroll-200");
        }
    }
    $(document).ready(function() {
        $window.scroll(onScroll)
        onScroll()
    })
</script>
  </body>
</html>
