---
layout: default
---

<div id="landing">
	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-6 d-flex align-items-center justify-content-center">
					<img class="logo" src="/assets/img/logo.svg">
				</div>
			</div>
		</div>
	</header>
	<section id="subheader">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center text-white">
					<h1>Lorem ipsum dolor sit amet</h1>
					<h2>Over 64% of financial services companies have 1,000+
sensitive files open to every employee</h2>
					<p class="mt-4">
						<a href="" class="btn btn-primary">Jak se lze chránit?</a>
					</p>
				</div>
			</div>
		</div>
	</section>
	<section style="background-color: #f0f0f0">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h5>Dodáme Vám...</h5>
					<!-- <p class="pt-5" style="font-size: 1.5rem;">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare elementum leo, sit amet vehicula mi dictum vestibulum. Vestibulum cursus fermentum lorem in lobortis. Nullam consequat vestibulum placerat.
					</p> -->
				</div>
			</div>
			<div class="row">
				<div class="col-6 pt-2">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title"><strong>Audit</strong> kybernetické infrastruktury</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="card-link">Dozvědět se více &gt;&gt;</a>
						</div>
					</div>
				</div>
				<div class="col-6 pt-2">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title"><strong>Vzdělávání</strong> pro specialisty</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="card-link">Dozvědět se více &gt;&gt;</a>
						</div>
					</div>
				</div>
				<div class="col-6 pt-2">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title"><strong>Penetrační</strong> testování</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="card-link">Dozvědět se více &gt;&gt;</a>
						</div>
					</div>
				</div>
				<div class="col-6 pt-2">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title"><strong>CTF</strong> Challenge</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="card-link">Dozvědět se více &gt;&gt;</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
