---
layout: default
---

<div id="landing">
	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-6 d-flex align-items-center justify-content-center">
					<img class="logo" src="/assets/img/logo2.svg">
				</div>
			</div>
		</div>
	</header>
	<section id="subheader">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center text-white">
					<h1>Lorem ipsum dolor sit amet</h1>
					<h2>Over 64% of financial services companies have 1,000+
sensitive files open to every employee</h2>
					<p class="mt-4">
						<a href="" class="btn btn-primary">Jak se lze chránit?</a>
					</p>
				</div>
			</div>
		</div>
	</section>
	<section id="howwedo">
		<div class="container">
			<div class="row pt-5">
				<div class="col-12">
					<h2>Dodáme Vám...</h2>
					<!-- <p class="pt-5" style="font-size: 1.5rem;">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare elementum leo, sit amet vehicula mi dictum vestibulum. Vestibulum cursus fermentum lorem in lobortis. Nullam consequat vestibulum placerat.
					</p> -->
				</div>
			</div>
			<div class="row">
				<div class="col-6 pt-2 pb-4">
					<div class="card d-flex flex-row">
						<div class="card-body">
							<h5 class="card-title">Audit kybernetické infrastruktury</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="card-link">Dozvědět se více &gt;&gt;</a>
						</div>
						<div class="card-body icon">
							<i class="fas fa-award"></i>
						</div>
					</div>
				</div>
				<div class="col-6 pt-2 pb-4">
					<div class="card d-flex flex-row">
						<div class="card-body">
							<h5 class="card-title">Vzdělávání pro IT specialisty</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="card-link">Dozvědět se více &gt;&gt;</a>
						</div>
						<div class="card-body icon">
							<i class="fas fa-chalkboard-teacher"></i>
						</div>
					</div>
				</div>
				<div class="col-6 pt-2 pb-4">
					<div class="card d-flex flex-row">
						<div class="card-body">
							<h5 class="card-title">Penetrační testování</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="card-link">Dozvědět se více &gt;&gt;</a>
						</div>
						<div class="card-body icon">
							<i class="fas fa-pen-nib"></i>
						</div>
					</div>
				</div>
				<div class="col-6 pt-2 pb-4">
					<div class="card d-flex flex-row">
						<div class="card-body">
							<h5 class="card-title">CTF Challenge</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="card-link">Dozvědět se více &gt;&gt;</a>
						</div>
						<div class="card-body icon">
							<i class="fas fa-flag"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="whatweknow">
		<div class="container">
			<div class="row pt-5">
				<div class="col-12">
					<h2>Zabýváme se bezpečností všech moderních technologií</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 pt-4">
					<h3>Bezpečná architektura</h3>
					<p>Navrhneme architekturu, která vyhovuje jak business tak bezpečnostním požadavkům vaší společnosti, tak, aby byla vaše data a data vašich zákazníku chráněna před kybernetickými hrozbami.</p>
					<ul>
						<li class="badge badge-pill badge-dark">Messaging</li>
						<li class="badge badge-pill badge-dark">Event-driven</li>
						<li class="badge badge-pill badge-dark">Distributed</li>
						<li class="badge badge-pill badge-dark">Scalability</li>
						<li class="badge badge-pill badge-dark">High availability</li>
						<li class="badge badge-pill badge-dark">DMZ</li>
						<li class="badge badge-pill badge-dark">SIEM</li>
						<li class="badge badge-pill badge-dark">...</li>
					</ul>
				</div>
				<div class="col-md-4 pt-4">
					<h3>Operační systémy</h3>
					<p>Víme jak dosáhnout nejvyšší míry zabezpečení správnou konfigurací operačních systémů a hardware, na kterém jsou provozovány. Známe řešení pro bezpečnostní požadavky virtualizačních a kontejenrizačních technologií</p>
					<ul>
						<li class="badge badge-pill badge-dark">Linux</li>
						<li class="badge badge-pill badge-dark">Windows</li>
						<li class="badge badge-pill badge-dark">MacOS</li>
						<li class="badge badge-pill badge-dark">Android</li>
						<li class="badge badge-pill badge-dark">iOS</li>
						<li class="badge badge-pill badge-dark">VMWare</li>
						<li class="badge badge-pill badge-dark">Docker</li>
						<li class="badge badge-pill badge-dark">Kubernetes</li>
						<li class="badge badge-pill badge-dark">...</li>
					</ul>
				</div>
				<div class="col-md-4 pt-4">
					<h3>Programovací jazyky</h3>
					<p>Ve zdrojovém kódu se cítíme jako doma. Máme dlouholetou zkušenost s jazykovými technologiemi a známe nebezpečné vzorce, které se ve zdrojových kódech mohou vyskytovat.</p>
					<ul>
						<li class="badge badge-pill badge-dark">C/C++</li>
						<li class="badge badge-pill badge-dark">C#</li>
						<li class="badge badge-pill badge-dark">Java, Kotlin</li>
						<li class="badge badge-pill badge-dark">Python</li>
						<li class="badge badge-pill badge-dark">PHP</li>
						<li class="badge badge-pill badge-dark">Go</li>
						<li class="badge badge-pill badge-dark">Rust</li>
						<li class="badge badge-pill badge-dark">Swift, Objective-C</li>
						<li class="badge badge-pill badge-dark">JavaScript</li>
						<li class="badge badge-pill badge-dark">...</li>
					</ul>
				</div>
				<div class="col-md-4 pt-4">
					<h3>Serverové technologie</h3>
					<p>Máme v malíku moderní serverové technologie, víme jak je provozovat v nedůvěryhodných prostředích. </p>
					<ul>
						<li class="badge badge-pill badge-dark">Apache</li>
						<li class="badge badge-pill badge-dark">Nginx</li>
						<li class="badge badge-pill badge-dark">PostgreSQL</li>
						<li class="badge badge-pill badge-dark">MS SQL</li>
						<li class="badge badge-pill badge-dark">Maria DB</li>
						<li class="badge badge-pill badge-dark">Couch DB</li>
						<li class="badge badge-pill badge-dark">Mongo DB</li>
						<li class="badge badge-pill badge-dark">Kafka</li>
						<li class="badge badge-pill badge-dark">ElasticSearch</li>
						<li class="badge badge-pill badge-dark">RabbitMQ</li>
						<li class="badge badge-pill badge-dark">...</li>
					</ul>
				</div>
				<div class="col-md-4 pt-4">
					<h3>Cloudové služby</h3>
					<p></p>
					<ul>
						<li>Amazon AWS, Lambda, S3, ...</li>
						<li>Microsoft Azure</li>
					</ul>
				</div>
				<div class="col-md-4 pt-4">
					<h3>Kryptografie</h3>
					<p>Jsme experti v oblasti aplikované kryptografie. Umíme navrhnout a implementovat kryptosystémy a protokoly, které zabezpečí vaše data a ochrání soukromí komunikujících entit.</p>
					<ul>
						<li class="badge badge-pill badge-dark">Blockchain</li>
						<li class="badge badge-pill badge-dark">HSM</li>
						<li class="badge badge-pill badge-dark">TLS</li>
						<li class="badge badge-pill badge-dark">SSL</li>
						<li class="badge badge-pill badge-dark">AES</li>
						<li class="badge badge-pill badge-dark">RSA</li>
						<li class="badge badge-pill badge-dark">EC</li>
						<li class="badge badge-pill badge-dark">DHE</li>
						<li class="badge badge-pill badge-dark">DES</li>
						<li class="badge badge-pill badge-dark">CBC</li>
						<li class="badge badge-pill badge-dark">SHA</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</div>
