

body.layout-page {
	header {
		position: relative;
		background-image: url('/assets/img/pixelbg-dark.png');
		background-repeat: repeat-x;
		background-size: auto 120%;
		color: white;
		text-align: left;
		h1 {
			font-weight: 100;
			font-family: Kohinoor Bangla;
			padding-left: 2.5rem;
		}

		.container {
			background-image: url('/assets/img/infrastructure-audit.svg');
			background-size: 45%;
			background-repeat: no-repeat;
			background-position: 95%;

			.row {
				height: 430px;
			}
		}
		img.logo {
			width: 60%;
			max-width: 100%;
		}


	}
	.pic {
		position: relative;
		padding-top: 2rem;
		padding-bottom: 2rem;
		// background-image: url('https://previews.123rf.com/images/rh2010/rh20101811/rh2010181100524/112135308-young-african-male-programmer-writing-program-code-sitting-at-the-workplace-with-three-monitors-in-t.jpg');
		// background-image: url('https://previews.123rf.com/images/21aozora/21aozora2011/21aozora201100841/159737405-concept-of-data-network-management-vector-isometric-map-with-business-networking-servers-computers-a.jpg');
		// background-color: #272727;
		color: white;
		background-size: cover;
		background-image: linear-gradient(to right, #2b363b, #316881,);

		.row:first-child {
			padding-top: 6rem;
		}
		.row {
			 padding-top: 4rem;
		}

		ul {
			font-size: 1rem;
		}
		ul>li {
			padding-bottom: 1rem;
		}
		.highlight {
			color: #60bfef;
			font-weight: bold;
		}

		.card-body {
			background-color: #f0f0f0;
		}
	}
	section.pic::before {
		content: " ";
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100px;
		background-image: url('/assets/img/wave2-dark.svg');
		background-repeat: no-repeat;
	}
	section.pic::after {
		content: " ";
		position: absolute;
		bottom:0;
		left:0;
		width: 100%;
		height: 100px;
		background-image: url('/assets/img/wave.svg');
		background-repeat: no-repeat;
		background-position: 50% 100%;
	}

}
